
.flex-fill {
	flex: 1;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-col > .flex-splitter {
	height: 2px;
	cursor: ns-resize;
	border-top: 2px solid $bg-main;
	border-bottom: 2px solid $bg-main;
}

.flex-row > .flex-splitter {
	width: 2px;
	cursor: ew-resize;
	border-left: 2px solid $bg-main;
	border-right: 2px solid $bg-main;
}

.flex-row > .flex-splitter,
.flex-col > .flex-splitter {
	background-color: $lyt-split;
	
	@include noUserSelect()
	
	&:hover,
	&.dragged {
		background-color: $frame-action;
	}
}