@font-face {
  font-family: 'icomoon';
  src:url('sass/icomoon.ttf?-icmbrc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-add-flex-h:before {
  content: "\e900";
}
.icon-add-flex-v:before {
  content: "\e901";
}
.icon-add-workspace:before {
  content: "\e902";
}
.icon-checked:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-console:before {
  content: "\e906";
}
.icon-ctx-submenu-indicator:before {
  content: "\e907";
}
.icon-hamburger:before {
  content: "\e908";
}
.icon-maximize:before {
  content: "\e909";
}
.icon-minimize:before {
  content: "\e90a";
}
.icon-minus:before {
  content: "\e90b";
}
.icon-move-flexer:before {
  content: "\e90c";
}
.icon-pack:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-save:before {
  content: "\e910";
}
.icon-settings:before {
  content: "\e911";
}
.icon-the-mill:before {
  content: "\e912";
}
.icon-trashbin:before {
  content: "\e913";
}
.icon-unpack:before {
  content: "\e914";
}
.icon-windowed-mode:before {
  content: "\e915";
}
.icon-workspace:before {
  content: "\e916";
}