/*

reserved z-indices

[0-6] Ace

[20-30] Module Head

[50] Settings overlay

[200] Modal
*/

$z-ctx-menu: 51;



$font-stack: $main-font, sans-serif;

$bg-main: rgb(38, 40, 43);
$lyt-split: rgb(29, 31, 34);

$bg-ui-active: steelblue;

$tb-bg: rgb(60, 60, 60);
$tb-bg-hvr: rgb(120, 120, 120);
$tb-brdr: 1px solid rgb(45, 45, 45);
$tb-clr: rgb(128, 128, 128);

$hvr: rgb(80, 80, 80);

$font-clr: rgb(180, 180, 180);

$red: rgb(215, 125, 50);
$orange: orange;
$frame-action: steelblue;

// sum of paddings and margin to the first character in .mod-head
$mod-x-padding: 7px;

@mixin flex-row() {
	display: flex;
	flex-direction: row;
}

@mixin flex-col() {
	display: flex;
	flex-direction: column;
}

@mixin dlgtFcs($clr) {
	outline: none;
	
	&:focus > * {
		outline: 1px solid $clr;
	}
}

@mixin absoluteFill() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.abs-fill {
	@include absoluteFill();
}

.draft {
    display: none !important;
}


html, body {
	@include absoluteFill();
	
    margin: 0;
    padding: 0;
    background: $bg-main;
    color: rgb(220, 220, 220);
    font-family: $font-stack;
	animation: fade-in 0.5s;
	-webkit-user-select: none;
	cursor: default;
	
	overflow: hidden;
}

#content {
    position: relative;
	overflow: hidden;
}

#titlebar {
	-webkit-app-region: drag;
	padding: 5px;
}

.hb-btn {
	color: $tb-clr;
	cursor: default;
	font-size: 16px;
	text-shadow: 0 1px 0 rgb(20, 20, 20);
	cursor: pointer;
	padding: 2px 3px;
	-webkit-app-region: no-drag;
	line-height: 20px;
	
	&:hover {
		background-color: $tb-bg;
		text-shadow: none;
	}
}

.hb-btn.icon {
	font-size: 16px;
	width: 16px;
	margin-left: 0;
	margin-right: 0;
}

.modal-style {
	background: $bg-main;
	
	label {
		color: steelblue;
		cursor: pointer;
		
		&:hover {
			color: deepskyblue;
		}
	}
	
	hr {
		margin: 65px 250px;
		border: none;
		border-top: 1px solid #616161;	
	}
	
	.desc {
		margin: 5px 0;
		font-size: 12px;
		color: grey;
	}

	.url {
		padding: 10px 15px;
		margin: 10px 0;
		background-color: #1e2123;
		color: #83b4c5;
		-webkit-user-select: text;
		white-space: nowrap;                   
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.url-browse {
		padding: 10px 15px;
		margin: 10px 0;
		background-color: #1e2123;
		color: #83b4c5;
		
		&:hover {
			background-color: #234861;
			color: #7dc5de;
		}
	}
	
	input[type=text] {
		-webkit-appearance: none;
		border: none;
		background: none;
		outline: none;
		color: $font-clr;
		text-shadow: 1px 0px 0px steelblue;
		font-size: 1em;
		padding: 0;
		box-sizing: border-box;
		margin-bottom: -1px;
		margin-top: 0;
		
		&:focus,
		&:hover {
			border-bottom: 1px solid grey;
		}
		
		&.small {
			max-width: 100px;
		}
	}
	
	textarea {
		-webkit-appearance: none;
		border: none;
		background: none;
		color: $font-clr;
		text-shadow: 1px 0px 0px steelblue;
		font-size: 1em;
		outline: 1px solid grey;
		outline-offset: -1px;
		resize: none;
		padding: 3px;
		margin: 10px 0;
		font-family: $main-font;
		
		&:focus,
		&:hover {
			outline: 1px solid steelblue;
		}
	}
}

.confirm-modal {
	align-self: flex-end;
	margin-top: 15px;
	text-align: right;

	label {
		padding: 10px 15px;
		display: inline-block;
		
		&[data-valid="true"] {
			background-color: #234861;
		}
	}
}

input,
textarea {
    color: $bg-ui-active;
    text-shadow: 1px 0px 0px black;
    -webkit-text-fill-color: transparent;
	cursor: text;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
    text-shadow: none;
    -webkit-text-fill-color: initial;
	cursor: text;
}

::selection {
	background-color: steelblue;
	color: whitesmoke !important;
}

#settings {
	@include absoluteFill();
	max-height: 100%;
	padding: 20px 50px;
	
	backface-visibility: hidden;
	z-index: 50;
	display: none;
	animation: roll-out-top 0.3s linear 0s 1 alternate both;
	
	&.visible {
		display: flex;
		animation: roll-in-right 0.3s;
	}
}

::-webkit-scrollbar,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner,
::-webkit-resizer {
}

::-webkit-scrollbar,
::-webkit-scrollbar > *,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color: $bg-main;
}

::-webkit-scrollbar {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar * {
    background-color: transparent;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
    max-height: 12px;
    border: none;
    padding: 0px;
    background-color: $bg-main;
}

::-webkit-scrollbar:vertical {
    width: 12px;
    border: none;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    margin: 2px 0;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: grey;
    margin: 0 2px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-corner,
::-webkit-resizer {
	background-color: grey;
}

@mixin noUserSelect() {
	-webkit-user-select: none;
	user-select: none;
}

@mixin abstractList() {	
	color: $font-clr;
	cursor: default;
	
	@include noUserSelect();
	@include flex-col();
	
	.ALE-label {
		flex: 1;
		font-size: 14px;
		padding: 2px 5px;
		&:hover {
			background-color: $hvr;
		}
		
		font-family: $font-stack;
	}
}

@mixin abstractListEntry() {
	color: $font-clr;
	cursor: default;
	
	@include noUserSelect();
	@include flex-row();
}

.ALE-entry {
	@include abstractListEntry();
}

.ALE-label {
	flex: 1;
	font-size: 14px;
	padding: 2px 5px;
	@include flex-row();
	
	&:hover {
		background-color: $hvr;
	}
	
	&:active {
		background-color: $bg-ui-active;
		color: whitesmoke;
	}
	
	font-family: $font-stack;
	overflow: hidden;
}

.ALE-icon-w {
	@include flex-col();
	justify-content: center;
	display: inline-block;
	font-size: 16px;
}

.icon {
	font-size: 16px;
}

@keyframes roll-in-right {
	0% {
		opacity: 0;
		transform: translate(10px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes roll-out-top {
	0% {
		opacity: 1;
		transform: translate(0, 0);
		display: flex;
	}
	99% {
		display: flex;
		opacity: 0;
		transform: translate(0, -10px);
	}
	100% {
		opacity: 0;
		transform: translate(0, -10px);
		display: none;
	}
}

@keyframes roll-in-bottom {
	0% {
		opacity: 0;
		transform: translate(0, 10px);
		display: none;
	}
	1% {
		display: flex;
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
		display: flex;
	}
}


$list-in-dur: 0.3s;

@keyframes list-item-in {
	0% {
		opacity: 0;
		transform: translate(-10px, 0)
	}
	100% {
		opacity: 1;
		transform: translate(0, 0)
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#modal {
	z-index: 200;
	padding: 25px 50px;
	@include absoluteFill();
}

.modal-title {
	font-size: 32px;
	text-shadow: 0 1px 0 black;
	text-align: center;
	cursor: default;
	font-weight: 100;
	margin-bottom: 50px;
}

.modal-close {
	position: absolute;
	line-height: 48px;
	font-size: 48px;
	align-self: flex-end;
	
	&:hover {
		background-color: rgb(80, 80, 80);
	}
	
	&:active {
		background-color: $bg-ui-active;
	}
	
	&::before {
		content: "X";
		min-width: 48px;
		font-weight: 100;
		display: block;
		text-align: center;
		text-shadow: 0 1px 0 grey;
	}
}


/* ui object stuff */

.url-browse {
}


/* logo animation */

@keyframes windmill {
	0%  { transform: rotate(0deg);}
	100%  { transform: rotate(360deg);}
}

@keyframes circle {
	0% { transform: scale(0);}
	25% { transform: scale(1); }
	50% { transform: scale(0); opacity: 1;}
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes pop-up {
	0% { opacity: 0; }
	24.9% { opacity: 0; }
	25% { opacity: 1; }
}

.the-mill {
	animation: windmill 3s;
	transform-origin: center;
	
	path {
		animation: pop-up 3s;
		animation-fill-mode: forwards;
	}
	
	circle {
		animation: circle 3s;
		transform-origin: center;
		animation-fill-mode: forwards;
	}
}