
#content.move-mod .mod-con:hover .mod-head{
	background-color: $frame-action;
}

.mod-con {
	min-height: 20px;
	min-width: 50px;
}

.mod-head {
	background-color: $bg-main;
	color: $tb-clr;
	height: 20px;
	padding: 5px 3px;
	-webkit-app-region: no-drag;
}

.mod-button {
    text-shadow: 0 1px 0 rgb(20, 20, 20);
	cursor: pointer;
	padding: 2px;
	
	&:hover,
	&:active {
		background-color: $tb-bg;
		text-shadow: none;
	}
}

.mod-sel {
	cursor: default;
	position: relative;
	margin: 0 2px;
	padding: 3px 2px;
	
	&:focus {
		outline: none;
	}
	
	&:focus .mod-sel-list {
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	}
	
	&:focus .mod-sel-item {
		display: initial;
		pointer-events: auto;
		
		&:hover {
			background-color: $tb-bg-hvr;
			color: black;
		}
	}
	
	&:hover:not(:focus) .visible {
		background-color: $bg-main;
	}
}

.mod-sel-list {
	position: absolute;
	top: 3px;
	right: 0;
	left: 0;
	z-index: 10;
	padding: 0 2px;
	
	transition: height 0.3s;
}

.mod-sel-item {
	display: none;
	padding: 0 3px;
	font-size: 14px;
	background-color: $bg-main;
	
	@include noUserSelect();
	
	pointer-events: none;
	
	&.visible {
		display: initial;
	}
	overflow: hidden;
	white-space: nowrap;
}

.mod-body {
	position: relative;
	overflow: hidden;
}

.mod-sett {
	position: relative;
	
	&:focus .mod-sett-menu {
		display: flex;
	}
	
	&:focus {
		outline: none;
	}
}

.mod-sett-menu {
	@include flex-col();
	display: none;
	top: 0;
	right: 0;
	position: absolute;
	max-width: 180px;
	width: 180px;
	background-color: $tb-bg;	
	z-index: 11;
	
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.mod-fill-body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.mod-con:last-child,
.flexer:last-child {
	flex: 1;
}

.flex-col .mod-con:last-child {
	height: auto !important;
}

.flex-row .mod-con:last-child {
	width: auto !important;
}