

.--NAV-entry {
	@include abstractListEntry();
	
	&:hover .--NAV-entry-close {
		opacity: 1;
	}
	
	animation-fill-mode: both;
	animation: list-item-in $list-in-dur ease-out;
	
	&.current-file {
		border-left: 2px solid steelblue;
		box-sizing: border-box;
	}
	
	&.selected-file {
		font-style: oblique;
	}
	
	.unsaved-mark {
		display: none;
	}
	
	&.unsaved .unsaved-mark {
		display: initial;
	}
	
	.ALE-label {
		padding: 5px $mod-x-padding;
	}
}


.--NAV-entry-close {
	opacity: 0;
	font-size: 16px;
	width: 18px;
	justify-content: center;

	&:hover {
		background-color: $hvr;
	}
}