

.--NAV-entry {
	@include abstractListEntry();
	
	&:hover .--NAV-entry-close {
		opacity: 1;
	}
	
	animation-fill-mode: both;
	animation: list-item-in $list-in-dur ease-out;
	
	&.current-file {
		&::before {
			width: 5px;
			height: 5px;
			border-radius: 5px;
			display: block;
			position: absolute;
			content: " ";
			background-color: orange;
			align-self: center;
			margin-left: 1px;
		}
	}
	
	&.selected-file {
		font-style: oblique;
	}
	
	.unsaved-mark {
		display: none;
	}
	
	&.unsaved .unsaved-mark {
		display: initial;
	}
	
	.ALE-label {
		padding: 5px $mod-x-padding;
	}
	
	white-space: nowrap;
}

.--NAV-fdir {
	color: grey;
    overflow-x: hidden;
    text-overflow: ellipsis;
}


.--NAV-entry-close {
	opacity: 0;
	font-size: 16px;
	width: 18px;
	justify-content: center;

	&:hover {
		background-color: $hvr;
	}
}