

.--RESV-entry {
	@include abstractListEntry();
	font-size: 14px;
	padding: 5px $mod-x-padding;
	
	&:hover {
		background-color: $hvr;
	}
	
	&:focus {
		outline: none;
	}
	
	&:focus,
	&.focussed {
		background-color: $bg-ui-active;
		color: whitesmoke;
		
		.--RESV-fext {
			color: whitesmoke;
		}
	}
}

.--RESV-fname {
	
}

.--RESV-fext {
	color: grey;
}

.--RESV-temp-entry {
	font-size: 18px;
	padding: 5px 8px;
	margin: 5px 0;
	cursor: pointer;
	
	&:hover {
		background-color: $hvr;
	}
}