

.--RESV-entry {
	@include abstractListEntry();
	font-size: 14px;
	
	&:focus {
		outline: none;
	}
	
	&:focus,
	&.focussed {
		&::before {
			width: 5px;
			height: 5px;
			border-radius: 5px;
			display: block;
			position: absolute;
			content: " ";
			background-color: steelblue;
			align-self: center;
			margin-left: 1px;
		}
	}
	
	&:hover {
		.--RESV-entry-close {
			opacity: 1;
		}
	}
	
	white-space: nowrap
}

.--RESV-label {
	padding: 5px $mod-x-padding;
	overflow: hidden;
	white-space: nowrap;
}

.--RESV-fname {
	
}

.--RESV-fdir,
.--RESV-fext {
	color: grey;
}

.--RESV-temp-entry {
	font-size: 18px;
	padding: 10px 15px;
	cursor: pointer;
	
	&:hover {
		background-color: $hvr;
	}
}

.--RESV-label {
	&:hover {
		background-color: $hvr;
	}
}

.--RESV-entry-close {
	justify-content: center;
	padding: 5px $mod-x-padding;
	opacity: 0;
	
	&:hover {
		background-color: $hvr;
	}
}