
.tree-item {
	.tree-label {
		&:hover {
			background-color: $hvr;
		}
		
		padding: 2px 5px;
		color: rgb(200, 200, 200);
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	padding: 0 15px;
	margin-left: 15px;
	
	&.tree-parent > .tree-label{
		
		&:before {
			content: ">";
			display: block;
			transform: rotate(90deg);
			transition: transform .1s ease-out, color .1s ease-out;
			margin-left: -20px;
			position: absolute;
			color: deepskyblue;
			text-shadow: 0 1px 0 black;
		}
	}
	
	/** indicator for empty folders */
	&.tree-parent > .tree-children:empty:after {
		content: "empty";
		font-style: italic;
		color: grey;
	}
	
	&.tree-collapsed > .tree-label {		
		&:before {
			content: ">";
			display: block;
			transform: rotate(0deg);
			color: grey;
			margin-left: 20px;
		}
	}
	
	&.tree-collapsed > .tree-children {
		display: none;
	}
}